.pledge-bar {
    height: 8px;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 10px;
}

.openlogin-popup, .openModify-popup, .openCreate-popup, .openRegister-popup{
    background-color:#FFFFFF;
    border:1px solid #999999;
    cursor:default;
    display:none;
    margin-top: 15px;
    position:absolute;
    text-align:left;
    width:394px;
    z-index:50;
    padding: 25px 25px 20px;
}

textarea {
    font-family: sans-serif;
}

select:invalid {
    color: gray;
}

option {
    color: black;
}

.input-intable {
    display: table;
    width: 100%;
}

.input-intable .cell {
    display: table-cell;
    margin: auto;
}

h1 {
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: 'Raleway', sans-serif;
}

td .row {
    padding: 1em;
}

tbody tr:hover {
    background: white;
}

table.tablesorter thead tr .header {
	background-image: url(../assets/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(../assets/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
	background-image: url(../assets/desc.gif);
}

.description {
    padding-bottom: 10px;
}

.bg-green {
    background-color: #2bde73;
}

.bg-grey {
    background-color: #ccc;
}

.bg-grey-light {
    background-color: #f5f5f5;
}
